:root {
    --margin: 2vw;
    --prm-green: #85dccfe1;
    --accent-green: #41a3b3;
    --dark-orange: #e27d60;
    --light-orange: #e8a87c;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: monospace;
    background-color: var(--prm-green);
    display: grid;
    grid:
    "header header" auto
    "menu   active" auto /
    1fr 4fr;

}


.header {
    grid-area: header;
    background-color: var(--dark-orange);
    display: flex;
    height: 15vh;
}

.title-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--margin);
}

.icon {
    height: 8vh;
    width: 6vw;
    background:no-repeat center url('./notebook.svg');
    background-size: contain;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.title {
    color: white;
    font-size: 8vh;
    margin-left: 1vw;
}

.menu {
    grid-area: menu;
    background-color: var(--accent-green);
    color: white;
    height: 100vh;
    margin-top: 0;
}

.menu-title {
    padding-top: 10px;
    margin-left: 20px;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.menu-options {
    padding-top: var(--margin);
    display: grid;
    gap: 25px;
    list-style: none;
    justify-content: center;

}

.option {
    width: 15vw;
    height: 5vh;
    background-color: var(--light-orange);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
}

.home-icon {
    background: no-repeat center url('./home.svg');
}

.today-icon {
    background: no-repeat center url('./today.svg');
}

.week-icon {
    background: no-repeat center url('./week.svg');
}

.projects-title {
    margin: 20px;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.projects {
    display: grid;
    gap: 10px;
    color: white;
}

.project-item {
    margin-left: 35px;
}

.task-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
}

form {
    display: flex;
}
.new {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    transition: border-bottom 250ms ease-in;
    order: 2;
}

.new::placeholder {
    color: inherit;
    opacity: .5;
}

.new:focus {
    border-bottom-width: 3px;
}

.new:focus::placeholder {
    opacity: .2
}

.new.list {
    margin-left: 10px;
    width: 15vw;
    margin-top: 8px;
}

.btn.list {
    margin-left: 15px;
}

.todo-list {
    grid-area: active;
    margin: 20px 0 0 50px;
}